[Unit]
Description=Matrix Appservice {{ dir }}

[Service]
Type=simple
Restart=on-failure
RestartSec=3600

User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/{{ dir }}/
Environment="NODE_VERSION=10"
ExecStart={{ script }}

[Install]
WantedBy=multi-user.target
