[Unit]
Description=Matrix Appservice {{ dir }}

[Service]
Type=simple
Restart=on-failure
RestartSec=3600

User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/{{ dir }}/
Environment="WEBHOOKS_USER_STORE_PATH=/data/matrix/webhook/user-store.db"
Environment="WEBHOOKS_ROOM_STORE_PATH=/data/matrix/webhook/room-store.db"
Environment="NODE_ENV=production"
ExecStart={{ script }}

[Install]
WantedBy=multi-user.target
