[Unit]
Description=Matrix Dimension

[Service]
Type=simple
Restart=on-failure
RestartSec=3600

User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/dimension/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node build/app/index.js

[Install]
WantedBy=multi-user.target
