[Unit]
Description=Matrix Appservice Discord

[Service]
Type=simple
Restart=on-failure
RestartSec=3

User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/discord/
Environment="NODE_VERSION=10"
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
