[Unit]
Description=Synapse Matrix homeserver

[Service]
Type=simple
Restart=on-failure
RestartSec=3

AppArmorProfile=matrix-synapse
User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/
ExecStart=/usr/bin/python3 -m synapse.app.homeserver --config-path=/etc/matrix-synapse/homeserver.yaml

[Install]
WantedBy=multi-user.target
