[Unit]
Description=Matrix Appservice Telegram

[Service]
Type=simple
Restart=on-failure
RestartSec=3600

User=synapse
Group=synapse
WorkingDirectory=/var/lib/matrix-synapse/telegram/
ExecStart=/usr/bin/python3 -m mautrix_telegram -c config.yaml -r telegram-registration.yaml -b /etc/mautrix-telegram/example-config.yaml

[Install]
WantedBy=multi-user.target
