[Unit]
Description=GNU Mailman Service

[Service]
Type=simple
Restart=on-failure
RestartSec=3

User=mailman
Group=mailman
WorkingDirectory=/var/lib/mailman_webui/
ExecStart=/usr/sbin/uwsgi --ini /etc/mailman/uwsgi.ini

[Install]
WantedBy=multi-user.target
