[Unit]
Description=GNU Mailman Service

[Service]
Type=forking
Restart=on-failure
RestartSec=3

User=mailman
Group=mailman
WorkingDirectory=/var/lib/mailman/
ExecStart=/usr/bin/mailman start
ExecStop=/usr/bin/mailman stop

[Install]
WantedBy=multi-user.target
