{%- set site = grains.get('site') %}
{%- if site == 'prg2' or grains['id'] == 'slimhat.infra.opensuse.org' %}
{%- set mirror = 'download-prg.infra.opensuse.org' %}
{%- elif site == 'prv1' %}
{%- set mirror = 'download-prv.infra.opensuse.org' %}
{%- elif site == 'nue-ipx' %}
{%- set mirror = 'download-nue.infra.opensuse.org' %}
{%- else %}
{%- set mirror = 'download.infra.opensuse.org' %}
{%- endif %}
