{%- set country = grains.get('country') %}
{%- if country == 'cz' or grains['id'] == 'slimhat.infra.opensuse.org' %}
{%- set mirror = 'download-prg.infra.opensuse.org' %}
{%- elif country == 'us' %}
{%- set mirror = 'download-prv.infra.opensuse.org' %}
{%- elif country == 'de' %}
{%- set mirror = 'download-nue.infra.opensuse.org' %}
{%- else %}
{%- set mirror = 'download.infra.opensuse.org' %}
{%- endif %}
