stages:
  - validate
  - test
  - deploy

validate:
  stage: validate
  before_script:
    - bin/prepare_test_env.sh -i opensuse
  script: bin/test_validate.sh
  tags:
    - docker

leap15.1_show_highstate:
  stage: validate
  before_script:
    - bin/prepare_test_env.sh -i opensuse -g -o Leap,15,1
    - bin/get_formulas.py -c -d /srv/formula -s --clone-from 'https://gitlab.infra.opensuse.org/saltstack-formulas' --clone-branch production
  script: bin/test_show_highstate.sh
  tags:
    - docker

upstream_formulas_show_highstate:
  stage: validate
  before_script:
    - bin/prepare_test_env.sh -i opensuse -g
    - bin/get_formulas.py -c -d /srv/formula -s
  script: bin/test_show_highstate.sh
  allow_failure: true
  except:
    - production@infra/salt
  tags:
    - docker

test_nginx:
  stage: test
  before_script:
    - bin/prepare_test_env.sh -i opensuse -g -p nginx
    - bin/get_formulas.py -c -d /srv/formula -s --clone-from 'https://gitlab.infra.opensuse.org/saltstack-formulas' --clone-branch production -f nginx
  script: bin/test_nginx.sh
  tags:
    - docker

test_sudo:
  stage: test
  before_script:
    - bin/prepare_test_env.sh -i opensuse -g -p sudo
    - bin/get_formulas.py -c -d /srv/formula -s --clone-from 'https://gitlab.infra.opensuse.org/saltstack-formulas' --clone-branch production
  script: bin/test_sudo.sh
  tags:
    - docker

deploy_job:
  stage: deploy
  script: sudo salt-call event.fire_master $CI_DEPLOY_PASSWORD salt/fileserver/gitfs/update
  only:
    - production@infra/salt
  tags:
    - shell
