{%- set site = grains.get('site') -%}
{{ pillar['managed_by_salt_lua'] }}
-- Fork of the example script (https://doc.powerdns.com/recursor/dns64.html#scripted-dns64-support)
-- with added functionality for acting based on the source network and query name

--  Copyright (C) 20?? PowerDNS
--  Copyright (C) 2023 Georg Pfuetzenreuter <mail+opensuse@georg-pfuetzenreuter.net>

--  This program is free software; you can redistribute it and/or modify
--  it under the terms of the GNU General Public License as published by
--  the Free Software Foundation; either version 2 of the License, or
--  (at your option) any later version.
--
--  This program is distributed in the hope that it will be useful,
--  but WITHOUT ANY WARRANTY; without even the implied warranty of
--  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--  GNU General Public License for more details.
--
--  You should have received a copy of the GNU General Public License along
--  with this program; if not, write to the Free Software Foundation, Inc.,
--  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

prefix = "{{ nat64_prefix.split('/')[0] }}"
prefix_reverse = "{{ salt['os_network.reverse_pointer'](nat64_prefix) }}"

internal_zones = newDS()
internal_zones:add({"infra.opensuse.org"})

no_internet46_networks = newNMG()
-- networks which are either VPN, equipped with native IPv4, or remote locations with their own NAT64 prefix (further explanation below)
no_internet46_networks:addMasks(
  {
    {%- if site == 'prg2' %}
    -- SLC1
    "2a07:de40:617e::/48",
    -- PRG2 os-public and os-mail
    "2a07:de40:b27e:1204::/64",
    "2a07:de40:b27e:1209::/64",
    -- PRG2 VPN
    "2a07:de40:b27e:5001::/64",
    "2a07:de40:b27e:5002::/64",
    {%- elif site == 'slc1' %}
    -- PRG2
    "2a07:de40:b27e::/48",
    -- SLC1 os-public
    2a07:de40:617e:1904::/64,
    -- SLC1 host mirrorcache-us-db
    2a07:de40:617e:1906::b/128,
    {%- endif %}
  }
)

excludes = newDS()
excludes:add({"redirector-qsc.infra.opensuse.org"})

function nodata ( dq )

  -- only tamper with AAAA queries
  if dq.qtype ~= pdns.AAAA then
    return false
  end

  -- do not tamper with names queried by machines with IPv6 addresses not routed internally
  if excludes:check(dq.qname) then
    return false
  end

  -- only cache internal queries to allow for source network based handling of non-internal zones
  if not internal_zones:check(dq.qname) then
    dq.variable = true

    -- skip DNS64 for excluded source networks
    --   * VPN clients shall only receive mapped answers for internal_zones queries (prevent mapping v4 internet hosts to addresses unroutable in the client network)
    --   * other sites shall not receive mapped answers from this recursor, as the other, site specific, recursor will handle it with the relevant local NAT64 prefix
    if no_internet46_networks:match(dq.remoteaddr) then
      return false
    end

  end

  -- only proceed with working DNSSEC
  if dq.validationState == pdns.validationstates.Bogus then
    return false
  end

  dq.followupFunction = "getFakeAAAARecords"
  dq.followupPrefix = prefix
  dq.followupName = dq.qname
  return true
end

function preresolve ( dq )
  if dq.qtype == pdns.PTR and dq.qname:isPartOf(newDN(prefix_reverse)) then
    dq.followupFunction = "getFakePTRRecords"
    dq.followupPrefix = prefix
    dq.followupName = dq.qname
    return true
  end
  return false
end
