{{ pillar['managed_by_salt'] }}

{%- if 'allow_from' in config %}
allow-from={{ ', '.join(config.allow_from) }}
{%- endif %}
dnssec=validate
{%- if 'local_address' in config %}
local-address={{ ', '.join(config.local_address) }}
{%- endif %}
log-common-errors=yes
query-local-address=::, 0.0.0.0
setgid=pdns
setuid=pdns
server-id=Enjoy openSUSE
structured-logging-backend=systemd-journal
webserver=yes
{%- if 'webserver_address' in config %}
webserver-address={{ config.webserver_address }}
{%- endif %}
{%- if 'webserver_allow_from' in config %}
webserver-allow-from={{ ', '.join(config.webserver_allow_from) }}
{%- endif %}
webserver-hash-plaintext-credentials=yes
{%- if 'webserver_password' in config %}
webserver-password={{ config['webserver_password'] }}
{%- endif %}
#dns64-prefix=2a07:de40:b27e:64::/96
dnssec-log-bogus=yes
extended-resolution-errors=yes
{%- if 'forward' %}
forward-zones-file=/etc/pdns/forward.conf
{%- endif %}
{%- if 'forward_zones_recurse' in config %}
forward-zones-recurse={{ config.forward_zones_recurse }}
{%- endif %}
{%- if 'lua_dns_script' in config and config.lua_dns_script %}
lua-dns-script=/etc/pdns/pdns.lua
{%- endif %}

extended-resolution-errors=yes
