{{ pillar['managed_by_salt'] }}

push "dhcp-option DNS 2a07:de40:b27e:1203::11"
push "dhcp-option DNS 2a07:de40:b27e:1203::12"
push "dhcp-option DOMAIN infra.opensuse.org"

push "route-ipv6 2a07:de40:b27e:1100::/64"  # os-thor
push "route-ipv6 2a07:de40:b27e:1203::/64"  # os-internal
push "route-ipv6 2a07:de40:b27e:1205::/64"  # os-mirror
# os-public, os-salt, os-code are firewall blocked and not pushed on purpose
push "route-ipv6 2a07:de40:b27e:64::/96"    # NAT64
