#!/bin/sh -Cefu
{{ pillar['managed_by_salt'] }}
# Gathers Prometheus textfile metrics for pending updates and reboots
# Copyright (C) 2024 Georg Pfuetzenreuter <mail+opensuse@georg-pfuetzenreuter.net>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

command -v zypper 1>/dev/null || exit 0
command -v transactional-update 1>/dev/null && exit 0

zypper_count_pending_updates () {
  set +e
  mispipe 'zypper --no-refresh --xmlout lu' 'grep -c "<update "'
  case "$?" in
    106 ) return 0 ;;
    * ) return "$?" ;;
  esac
  set -e
}

zypper_needs_rebooting () {
  set +e
  zypper --quiet needs-rebooting
  case "$?" in
    0 ) echo 0 ;;
    102 ) echo 1 ;;
    * ) return 1 ;;
  esac
  set -e
}

zypper_count_orphaned () {
  set +e
  mispipe 'sudo zypper --quiet pa --orphaned' 'grep -c "^i"'
}

rpmconfigcheck_count () {
  set +e
  mispipe 'sudo rpmconfigcheck' 'awk "
          BEGIN { new=0; orig=0; save=0; }
          /\.rpmnew$/ { new++ }
          /\.rpmorig$/ { orig++ }
          /\.rpmsave$/ { save++ }
          END { printf \"rpmconfigcheck_rpmnew %i\nrpmconfigcheck_rpmorig %i\nrpmconfigcheck_rpmsave %i\", new, orig, save }
          "'
}

pending_updates="$(zypper_count_pending_updates)"
needs_rebooting="$(zypper_needs_rebooting)"
orphaned_packages="$(zypper_count_orphaned)"
rpmconfigcheck_metrics="$(rpmconfigcheck_count)"

{
  echo "zypper_pending_updates $pending_updates"
  echo "zypper_needs_rebooting $needs_rebooting"
  echo "zypper_orphaned_packages $orphaned_packages"
  echo "$rpmconfigcheck_metrics"
} | sponge /var/spool/prometheus/zypper.prom
