{%- set roles = pillar.get('roles', []) -%}
{{ pillar['managed_by_salt'] }}
{%- if 'mailserver' in roles %}
if $programname == 'postfix' then action(type="ompipe" Pipe="/var/log/syslog")
{%- endif %}
