{%- set custom_tables = salt['pillar.get']('profile:pbr:tables', {}) | dictsort -%}
{{ pillar['managed_by_salt'] }}
#
# reserved values
#
255	local
254	main
253	default
0	unspec
#
# local
#

{%- for table, table_config in custom_tables %}
  {%- if 'id' in table_config %}
{{ table_config['id'] }}	{{ table }}
  {%- endif %}
{%- endfor %}
