[Unit]
Description=Calendar Sidekiq job queue
After=network.target

[Service]
Type=simple

User=calendar

WorkingDirectory=/srv/www/calendar-o-o

Environment="RAILS_ENV=production"

ExecStart=/usr/bin/bundler.{{ ruby }} exec sidekiq

Restart=always

[Install]
WantedBy=multi-user.target
