{%- from 'common/haproxy/macros.jinja' import bind, extra, options, server -%}
{%- set bind = bind -%}{%- set extra = extra -%}{%- set options = options -%}{%- set server = server -%}

{%- set errorfiles = '/etc/haproxy/errorfiles/' %}
{%- set narwals = {
      'narwal1': '192.168.87.6', 'narwal4': '192.168.67.5', 'narwal5': '192.168.47.68', 'narwal6': '192.168.47.69', 'narwal7': '172.16.164.117'
    }
-%}
{%- set galeras = {
      'galera': {'galera1': 'weight 100', 'galera2': 'weight 90 backup', 'galera3': 'weight 80 backup'},
      'galera-slave': {'galera1': 'weight 80 backup', 'galera2': 'weight 90 backup', 'galera3': 'weight 100'}
    }
-%}

{%- set check_txt = 'httpchk HEAD /check.txt' -%}
