{%- set mypillar = salt['pillar.get']('profile:vpn:openvpn:config:push', {}) -%}
{{ pillar['managed_by_salt'] }}

{%- for address in mypillar.get('dns', []) %}
push "dhcp-option DNS {{ address }}"
{%- endfor %}

push "dhcp-option DOMAIN infra.opensuse.org"

{%- for network in mypillar.get('routes', []) %}
push "route-ipv6 {{ network }}"
{%- endfor %}
