{{ pillar['managed_by_salt'] }}

dev-type tun
persist-key
persist-tun
user nobody
group nobody
comp-lzo
topology p2p
ccd-exclusive
keepalive 10 30
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/odin.opensuse.org.crt
key /etc/openvpn/certs/odin.opensuse.org.key
dh /etc/openvpn/certs/dh.pem
script-security 3
plugin /usr/lib64/openvpn/plugins/openvpn-plugin-auth-pam.so common-vpn
crl-verify /etc/openvpn/certs/crl.pem
tls-auth /etc/openvpn/certs/ta.key 0
verb 4
mute 10
float
auth SHA512
cipher AES-256-CBC
data-ciphers AES-256-CBC
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384
client-connect /usr/local/bin/log_openvpn_login.sh

config /etc/openvpn/includes/heroes_common_push.conf
