{{ pillar['managed_by_salt'] }}

[Unit]
Description=Manage inactive VPN users

[Service]
User=manage_vpn_users
Group=manage_vpn_users
Environment=KANIDM_API_KEY={{ salt['pillar.get']('profile:vpn:openvpn:manage_vpn_users') }}
ExecStart=/usr/local/bin/manage_inactive_accounts.py
