{{ pillar['managed_by_salt'] }}

ACME_SERVER=https://acme.infra.opensuse.org/acme/acme/directory
ACME_EMAIL=admin+netbox@opensuse.org
NETBOX_FRONTEND_HOST={{ pillar['profile']['netbox']['hostname']['frontend'] }}
NETBOX_BACKEND_HOST={{ grains['id'] }}

NETBOX_PATH=.netbox-git

# Docker image tag as created by build-suse.sh
TAG={{ pillar['profile']['netbox']['versiontag'] }}
