{{ pillar['managed_by_salt'] }}

CHANGELOG_RETENTION=0
COPILOT_ENABLED=False
CORS_ORIGIN_ALLOW_ALL=True
DB_HOST={{ pillar['profile']['netbox']['db']['host']}}
DB_NAME={{ pillar['profile']['netbox']['db']['name'] }}
DB_PASSWORD='{{ pillar['profile']['netbox']['db']['password']}}'
DB_USER={{ pillar['profile']['netbox']['db']['username']}}
EMAIL_FROM=netbox@infra.opensuse.org
EMAIL_PASSWORD=
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
EMAIL_USERNAME=netbox
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
GRAPHQL_ENABLED=true
HOUSEKEEPING_INTERVAL=86400
ISOLATED_DEPLOYMENT=true
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_PASSWORD='{{ pillar['profile']['netbox']['redis-cache']['password']}}'
REDIS_CACHE_SSL=false
REDIS_DATABASE=0
REDIS_HOST=redis
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_PASSWORD='{{ pillar['profile']['netbox']['redis']['password']}}'
REDIS_SSL=false
RELEASE_CHECK_URL=
REMOTE_AUTH_BACKEND='social_core.backends.open_id_connect.OpenIdConnectAuth'
REMOTE_AUTH_ENABLED = True
REMOTE_AUTH_AUTO_CREATE_USER=True
SOCIAL_AUTH_OIDC_OIDC_ENDPOINT='{{ pillar['profile']['netbox']['oidc']['endpoint']}}'
SOCIAL_AUTH_OIDC_KEY='{{ pillar['profile']['netbox']['oidc']['key']}}'
SOCIAL_AUTH_OIDC_SECRET='{{ pillar['profile']['netbox']['oidc']['secret']}}'
# Social auth adds the default scopes openid profile email after the SOCIAL_AUTH_OIDC_SCOPE variable.
SOCIAL_AUTH_OIDC_SCOPE='groups'
SOCIAL_AUTH_OIDC_JWT_ALGORITHMS=ES256
REQUESTS_CA_BUNDLE=/etc/ssl/ca-bundle.pem
REMOTE_AUTH_DEFAULT_GROUPS=default-users
SECRET_KEY='{{ pillar['profile']['netbox']['application']['django_secret_key']}}'
WEBHOOKS_ENABLED=True
{%- if 'debug' in pillar['profile']['netbox'] %}
DEBUG={{ pillar['profile']['netbox']['debug'] }}
{%- endif %}

NB_PIPELINE_IDP_ADMIN_GROUP=netbox-admins@infra.opensuse.org
