{%- macro bond(name, slave0, slave1, bootproto=None, mtu=None) -%}
    bond-{{ name }}:
      usercontrol: false
      bonding_master: true
      bonding_module_opts: mode=802.3ad miimon=100 lacp_rate=fast
      bonding_slave0: {{ slave0 }}
      bonding_slave1: {{ slave1 }}
      firewall: false
      {%- if bootproto %}
      bootproto: {{ bootproto }}
      {%- endif %}
      {%- if mtu %}
      mtu: {{ mtu }}
      {%- endif %}
{%- endmacro -%}

{%- macro slave(name) -%}
    {{ name }}:
      bootproto: none
      firewall: false
{%- endmacro -%}

{%- macro vlantap(name, vlan_id, device, mtu=None) -%}
    x-{{ name }}:
      bootproto: none
      vlan_id: {{ vlan_id }}
      etherdevice: {{ device }}
      firewall: false
      {%- if mtu %}
      mtu: {{ mtu }}
      {%- endif %}
{%- endmacro -%}

{%- macro vlantapnetworks(vlan_names, device, site, mtu=None) %}
  {%- import_yaml 'infra/networks.yaml' as networks %}
  {%- for network, network_config in networks[site].items() %}
    {%- set short = network_config.get('short') %}
    {%- if short in vlan_names and 'id' in network_config %}
    {{ vlantap(short, network_config['id'], device, mtu) }}
    {%- endif %}
  {%- endfor %}
{%- endmacro %}

{%- macro redis(instance, tcp=False, databases=1) -%}
redis:
  {{ instance }}:
    acllog-max-len: 64
    databases: {{ databases }}
    tcp-backlog: 512
    timeout: 0
    {%- if tcp %}
    bind: ::1
    port: 6379
    {%- else %}
    port: 0
    {%- endif %}
{%- endmacro %}

{%- macro smart(devices) -%}
smartmontools:
  smartd:
    config:
      {%- for device in devices %}
      - /dev/{{ device }}
      {%- endfor %}

prometheus:
  pkg:
    component:
      smartctl_exporter:
        environ:
          args:
            smartctl.device:
              {%- for device in devices %}
              - /dev/{{ device }}
              {%- endfor %}
{%- endmacro -%}

{%- macro default_gateway(site, network) -%}
  {%- import_yaml 'infra/networks.yaml' as site_networks %}
  {%- set network = site_networks[site][network] %}
  routes:
    default6:
      gateway: {{ network['gw6'] }}
{%- endmacro %}

{%- macro gateway_interfaces(site) -%}
  {%- import_yaml 'infra/networks.yaml' as site_networks %}
  {%- set networks = site_networks[site] %}
  {%- set host = grains['host'] %}

  {%- for vlan, config in networks.items() %}
    {{ config['short'][:14] }}:
      etherdevice: eth0
      vlan_id: {{ config['id'] }}
      addresses:
        {%- if 'gw6' in config and config['gw6'].endswith('::3') %}
        - {{ salt['os_network.gw_with_cidr'](config['gw6'][:-1] ~ host[-1], config['net6']) }}
        {%- endif %}
        {%- if 'gw4' in config %}
          {%- if 'gw1' in config['gw4'] and 'gw2' in config['gw4'] %}
        - {{ salt['os_network.gw_with_cidr'](config['gw4']['gw' ~ host[-1]], config['net4']) }}
          {%- else %}
        - {{ salt['os_network.gw_with_cidr'](config['gw4']['gw_vip'][:-1] ~ host[-1], config['net4']) }}
          {%- endif %}
        {%- endif %}
    {{ 'd-' ~ config['short'][:12] }}:
      bootproto: none
      interfacetype: dummy
    {%- endfor %}
{%- endmacro -%}

{#- gateway_vrrp(
      name      -> name of VRRP cluster
      mode      -> master or backup
      srcips    -> map containing master/backup ip4/ip6 source addresses
      vlan      -> VLAN name, expected to match an interface name on Avalon
      vips      -> Virtual IP address(es) to use for HA
      vrid      -> Unique number identifying the VRRP instance
      legacy_ip -> Whether this instance is used for IPv4 (default assumes IPv6)
    )
#}
{%- macro gateway_vrrp(name, mode, srcips, vlan, vips, vrid, legacy_ip=false) -%}
      {%- if vips is string %}
        {%- set vips = [vips] %}
      {%- endif %}

      {{ name }}-{{ vlan }}{{ '-legacy' if legacy_ip else '' }}:

        {%- if legacy_ip %}
        mcast_src_ip: {{ srcips[mode]['ip4'] }}
        {#- v4 advert_int gets rounded and causes the config test to return a non-zero exit code #}
        advert_int: 1
        {%- else %}
        mcast_src_ip: {{ srcips[mode]['ip6'] }}
        advert_int: 0.5
        {%- endif %} {#- close legacy_ip logic #}

        {%- if mode == 'master' %}
        state: MASTER
        priority: 100
        {%- elif mode == 'backup' %}
        state: BACKUP
        priority: 50
        {%- endif %} {#- close master/backup logic #}

        interface: os-{{ name }}
        virtual_router_id: {{ vrid }}
        # smtp_alert: true

        virtual_ipaddress:
          {%- for vip in vips %}
          - {{ vip }} dev {{ vlan }}
          {%- endfor %}
        track_interface:
          - {{ vlan }}
          - d-{{ vlan }}
{%- endmacro -%}

{%- macro gateway_vrrp_networks(name, mode, srcips, site, vrid_from_net=false) -%}
  {%- import_yaml 'infra/networks.yaml' as networks %}
  {%- for vlan, config in networks[site].items () %}
    {%- if not vrid_from_net %}
      {%- set oi = loop.index %}
    {%- endif %}

    {%- for v in [4, 6] %}
      {%- set net = 'net' ~ v %}
      {%- set gw = 'gw' ~ v %}

      {%- if net in config and gw in config %}
        {%- set gwaddr = config[gw]['gw_vip'] %}

        {%- if vrid_from_net %}
          {%- if v == 4 %}
            {%- set legacy = true %}
            {%- set vrid = gwaddr.split('.')[2] %}
          {%- elif v == 6 %}
            {%- set legacy = false %}
            {%- set vrid = gwaddr.split(':')[3][1:] %}
          {%- endif %}
       {%- else %}
         {%- set vrid = loop.index ~ oi %}
       {%- endif %}

      {{ gateway_vrrp(name, mode, srcips, config['short'], salt['os_network.gw_with_cidr'](gwaddr, config[net]), vrid, v == 4) }}

      {%- endif %} {#- close net/gw check #}
    {%- endfor %} {#- close IP version loop #}
  {%- endfor %} {#- close networks loop #}
{%- endmacro -%}
