{{ pillar['managed_by_salt'] }}

log_facility=daemon
debug=0
pid_file=/run/nrpe/nrpe.pid
server_port=5666
{%- set sshd_pillar = pillar.get('sshd_config', {}) %}
{%- if 'ListenAddress' in sshd_pillar and sshd_pillar['ListenAddress'] is string %}
server_address={{ sshd_pillar['ListenAddress'] }}
{%- elif 'server_address' in salt['pillar.get']('profile:monitoring:nrpe:server_address', {}) %}
server_address={{ pillar['profile']['monitoring']['nrpe']['server_address'] }}
{%- endif %}
nrpe_user=nagios
nrpe_group=nagios
allowed_hosts=192.168.47.7,2a07:de40:b27e:64::c0a8:2f07
dont_blame_nrpe=0
allow_bash_command_substitution=0
command_timeout=120
connection_timeout=300
include_dir=/etc/nrpe.d
