{{ pillar['managed_by_salt'] }}
{%- set wiki_upload_extensions = [
      'doc', 'docx', 'gif', 'jpg', 'jpeg', 'odp', 'ods', 'odt',
      'pdf', 'png', 'ppt', 'pptx', 'svg', 'sxc', 'sxw', 'xls', 'xlsx',
    ]
%}

{%- for wiki in salt['pillar.get']('mediawiki:wikis', {}) | sort %}
profile wiki_{{ wiki }} flags=(attach_disconnected) {
    #include <abstractions/base>
    #include <abstractions/nameservice>

    network inet dgram,
    network inet6 dgram,

    / r,
    /{usr/,}bin/bash rix,
    /dev/tty rw,
    /proc/meminfo r,
    /usr/bin/timeout rix,
    /usr/share/mediawiki_1_*/extensions/SyntaxHighlight_GeSHi/pygments/pygmentize Px -> pygmentize,
    /usr/sbin/sendmail PUx,

    /srv/www/{{ wiki }}.opensuse.org/cache/ r,
    /srv/www/{{ wiki }}.opensuse.org/cache/* rw,
    /srv/www/{{ wiki }}.opensuse.org/public/ r,
    /srv/www/{{ wiki }}.opensuse.org/public/** r,
    /srv/www/{{ wiki }}.opensuse.org/public/images/**/ rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/*/*/.*.tmpfsfile rwk,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/*/*/* rwk,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/chunkedupload_* rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/shellbox-*/file rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/**.{{ '{' ~ ( ','.join(wiki_upload_extensions) ) ~ '}' }} rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/deleted/**/index.html rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/deleted/.htaccess rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/lockdir/*.lock rwk,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/*/*/*\!localcopy_*. rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/*/*/*\!php??????. rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/**/index.html rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/.htaccess rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/localcopy_* rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/mw-runJobs-backoffs.json rwk,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/ResourceLoaderImage?????? rw,
    /srv/www/{{ wiki }}.opensuse.org/public/images/temp/svg_*/ rw,
    /srv/www/{{ wiki }}.opensuse.org/tmp/php* rw,
    /srv/www/{{ wiki }}.opensuse.org/secrets.php r,
    /srv/www/{{ wiki }}.opensuse.org/wiki_settings.php r,
    /tmp/.ZendSem.* wk,
    /usr/share/icu/*/icudt*l.dat r,
    /usr/share/mediawiki_1_*/** r,
    /usr/bin/magick Px -> magick-{{ wiki }},

    signal receive set=(abrt,kill,quit,term) peer=php-fpm,
    signal send set=abrt peer=php-fpm,
    unix (receive) type=stream,
}
{% endfor %}
