.test_nginx:
  image: registry.opensuse.org/opensuse/infrastructure/containers/heroes-salt-testing-nginx:latest
  stage: test
  before_script:
    - bin/prepare_test_env.sh -g -s
  script: bin/test_nginx.sh
  tags:
    - docker
  artifacts:
    when: always
    paths:
      - '*.txt'

{% for role in roles %}
test_nginx_{{ role }}:
  extends:
    - .test_nginx
  script: bin/test_nginx.sh {{ role }}
{% endfor %}
