.test_highstate:
  image: registry.opensuse.org/opensuse/infrastructure/containers/heroes-salt-testing-systemd:latest
  stage: test
  before_script:
    - bin/prepare_test_env.sh -g -o Leap,15,5 -s -n
  tags:
    - docker
  artifacts:
    when: always
    paths:
      - '*.txt'
      - 'render/*.txt'
  rules:
    - when: on_success

{% for role in roles %}
test_highstate_{{ role }}:
  extends:
    - .test_highstate
  script: bin/test_highstate.sh {{ role }}
{% endfor %}
