{{ pillar['managed_by_salt'] }}

# user:passwd
{% if 'rsync' in pillar and 'users' in pillar.rsync %}
{%- for user, password in pillar.rsync.users.items() %}
{{ user }}:{{ password }}
{%- endfor %}
{%- endif %}
