{{ pillar['managed_by_salt'] }}

{%- if 'rsync' in pillar %}
{%- for setting, value in pillar.rsync.defaults.items() %}
    {%- if value is sequence and not value is string %}
       {%- set value = ', ' ~ value|join(', ') %}
    {%- endif %}
{{ setting }} = {{ value }}
{%- endfor %}

# modules
{%- if 'modules' in pillar.rsync %}
{%- for module_name, module_data in pillar.rsync.modules.items() %}
[{{ module_name }}]
  {%- for setting, value in module_data.items() %}
    {%- if value is sequence and not value is string %}
       {%- set value = ', '.join(value) %}
    {%- endif %}
    {{ setting }} = {{ value }}
  {%- endfor %}
{%- endfor %}
{%- endif %}
{%- endif %}